.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #04a4e9;
}

h1 {
  margin: 30px;
  font-family: 'Lobster';
  text-shadow: 5px 0 #0d2e59;
  font-size: 5rem;
  color: #da541b;
}

p {
  font-size: 2rem;
  color: #9e4ecc;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
